!!! 5
html(lang="en")
    head
        title Linktrics Server
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="/css/bootstrap.min.css")
        link(rel="stylesheet",href="/css/bootstrap-responsive.min.css")
        link(rel="stylesheet",href="/css/style.css")
        link(href='http://fonts.googleapis.com/css?family=Roboto',rel='stylesheet',type='text/css')
        script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js")
        script(data-main = 'js/boot', type='text/javascript', src = '/js/libs/require-2.1.1.js')

    body
        .header
        #content

//
    -if (!user)
        h2 Welcome! Please log in.
    - else
        h2 Hello, #{user.username}
